{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_iagora/chat

    Display the iagora chat block.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * chatId: The ID of the chat div element where to render the chat block.
    * directLineURL: The Copilot Direct Line API base URL.
    * token: The Copilot Direct Line token.

    Example context (json):
    {
        "chatId": "iagora_chat_55a6cad25a0f6",
        "directLineURL": "https://directline.botframework.com",
        "token": "RCurR_XV9ZA.cwA.BKA.iaJrC8xpy8qbOF5xnR..."
    }
}}
<div id="{{chatId}}" role="main" style="height: 500px;"></div>

<script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>

{{#js}}
/* global WebChat */
/* eslint-disable promise/no-native */
(async function() {
  const styleOptions = {
    hideUploadButton: true
  };
  const locale = document.documentElement.lang || 'en';
  const directLine = WebChat.createDirectLine({domain: new URL('v3/directline', '{{directLineURL}}'), token: '{{token}}'});

  const subscription = directLine.connectionStatus$.subscribe({
    next(value) {
      if (value === 2) {
        directLine
          .postActivity({
            localTimezone: Intl.DateTimeFormat().resolvedOptions().timeZone,
            locale,
            name: 'startConversation',
            type: 'event',
            value: {
              'MoodleActivityContent': '{{moodleActivityContent}}',
              'MoodleActivityName': '{{moodleActivityName}}',
              'MoodleActivityType': '{{moodleActivityType}}',
              'MoodleCourseName': '{{moodleCourseName}}',
              'MoodleSectionName': '{{moodleSectionName}}',
              'MoodleUserName': '{{moodleUserName}}',
            }
          })
          .subscribe();
        subscription.unsubscribe();
      }
    }
  });

  WebChat.renderWebChat({directLine, locale, styleOptions}, document.getElementById('{{chatId}}'));
})();
{{/js}}
