<div id="webchat" role="main"></div>

<script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>

<script>
(async function () {
  const styleOptions = {
    hideUploadButton: true
  };

  const tokenEndpointURL = new URL('{{tokenEndpointURL}}');
  const locale = document.documentElement.lang || 'en';
  const apiVersion = tokenEndpointURL.searchParams.get('api-version');

  const [directLineURL, token] = await Promise.all([
    fetch(new URL(`/powervirtualagents/regionalchannelsettings?api-version=${apiVersion}`, tokenEndpointURL))
      .then(response => {
        if (!response.ok) {
          throw new Error('Failed to retrieve regional channel settings.');
        }
        return response.json();
      })
      .then(({ channelUrlsById: { directline } }) => directline),
    fetch(tokenEndpointURL)
      .then(response => {
        if (!response.ok) {
          throw new Error('Failed to retrieve Direct Line token.');
        }
        return response.json();
      })
      .then(({ token }) => token)
  ]);

  const directLine = WebChat.createDirectLine({ domain: new URL('v3/directline', directLineURL), token });

  const subscription = directLine.connectionStatus$.subscribe({
    next(value) {
      if (value === 2) {
        directLine
          .postActivity({
            localTimezone: Intl.DateTimeFormat().resolvedOptions().timeZone,
            locale,
            name: 'startConversation',
            type: 'event'
          })
          .subscribe();
        subscription.unsubscribe();
      }
    }
  });

  WebChat.renderWebChat({ directLine, locale, styleOptions }, document.getElementById('webchat'));
})();
</script>